/* Write your CSS code here */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.head {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.home {
  width: 80px;
}
